.card {
  max-width: calc(100% / 6 - 26px);
  margin: 0 13px 45px;
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;

  &__header {
    height: 200px;
    position: relative;
    overflow: hidden;
  }

  &__content {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }

  &__price {
    margin: 5px 0;
  }

  &__title {
    font-size: 1rem;
  }

  &__price,
  &__title,
  &__author {
    color: $black;
  }

  &:hover {
    transition: .5s;
    opacity: .75;
  }
}
