.card {
  max-width: calc(100% / 6 - 26px);
  margin: 0 13px 45px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
  align-self: flex-start;

  &__header {
    height: 200px;
    position: relative;
    overflow: hidden;
  }

  &__main {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }

  &__main-price {
    margin: 5px 0;
  }

  &__main-title {
    font-size: 1rem;
  }

  &__main-price,
  &__main-title,
  &__main-author {
    color: $black;
  }

  &:hover {
    transition: .5s;
    opacity: .75;
  }
}
