.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  padding: 15px 60px;
  background-color: #ffffff;

  &__title {
    margin-bottom: 15px;
  }

  &__catalog {
    margin: 0 -13px;
    display: flex;
    flex-wrap: wrap;
  }
}
