.main {
  padding: 15px 60px;
  background-color: #ffffff;

  &__title {
    margin-bottom: 15px;
  }

  &__detail {
    display: flex;
    justify-content: space-between;
  }

  &__detail-title {
    font-size: 3rem;
    font-weight: 900;
  }

  &__detail-author {
    position: relative;
    margin: 15px 0;
    font-size: 1.5rem;
    padding-left: 15px;

    &:before {
      position: absolute;
      content: '';
      width: 9px;
      height: 2px;
      background-color: $black;
      left: 0;
      top: 13px;
    }
  }

  &__detail-price {
    margin: 15px 0;
    font-size: 1.5rem;
    font-weight: 900;
    color: #797979;
  }

  &__detail-description {
    font-size: 1.5rem;
  }

  &__detail-image,
  &__detail-info {
    max-width: 50%;
  }

  &__detail-info {
    padding: 0 50px;
  }

  &__detail-image img {
    max-width: 100%;
  }

  &__detail-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__detail-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 40px;
    background-color: #ffffff;
  }

  &__detail-input {
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    max-width: 150px;
    height: inherit;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid $black;
    outline: none;
  }

  &__detail-btn {
    cursor: pointer;
    padding: 10px 25px;
    background-color: $black;
    font-size: 15px;
    height: inherit;
    color: $white;
    outline: none;
    border: 1px solid $black;

    &:hover {
      transition: .5s;
      opacity: .5;
    }
  }
}
