.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 30px 60px;
  border-bottom: 1px solid $gray;

  &__logo {
    color: $black;
    font-size: 2rem;

    &:hover {
      transition: 0.5s;
      opacity: 0.5;
    }
  }

  &__info {
    display: flex;
  }

  &__cart {
    cursor: pointer;
    margin-right: 25px;
  }

  &__cart,
  &__exit {
    display: flex;
    align-items: center;
    padding: 5px;
    color: $black;

    &:hover {
      transition: 0.5s;
      opacity: 0.5;
    }
  }

  &__cart-image,
  &__exit-image {
    width: 20px;
    height: 20px;
  }

  &__cart-label,
  &__exit-label {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 30px 20px;

    &__cart {
      margin-right: 15px;
    }
  }
}
